@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
}


<div class="panel-heading">
    <h1>
        @CurrentPage.Name
        <small class="text-nowrap"> - @CurrentPage.CreateDate.ToString()</small>
    </h1>
</div>
<div class="panel-body">
    @CurrentPage.bodyText
</div>
<div class="container">
    @{
        string[] tags = string.IsNullOrWhiteSpace(CurrentPage.contentTags) ? new string[0] : CurrentPage.contentTags.Split(',');
        tags = tags.OrderBy(x => x).ToArray();
        if (tags.Length > 0)
        {
            <span>Tags: </span>
            for (int i = 0; i < tags.Length; i++)
            {
                if (i != tags.Length - 1)
                {
                    <span><a href="~/Search?query=@tags[i]">@tags[i]</a>, </span>
                }
                else
                {
                    <span><a href="~/Search?query=@tags[i]">@tags[i]</a></span>
                }
            }
        }
    }
</div>
