@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = null;
    var staticInfoPage = Model.Content.AncestorOrSelf(1).Children(x => x.DocumentTypeAlias.Equals("StaticInformation")).FirstOrDefault();
}
<html lang="en>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    @*<link rel="icon" href="../../favicon.ico">*@
    <title>@CurrentPage.Name | @staticInfoPage.AsDynamic().siteName</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"> <!-- FortAwesome icons found at http://fortawesome.github.io/ -->
    <link href="~/Content/Site.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-2.2.0.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
</head>
<body>
    @Html.Partial("NavBar")
    @Html.Partial("TopBar")
    @Html.Partial("SocialBar")
    <div class="container">
        <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12 col-xs-offset-0 panel panel-default">
            @RenderBody()
        </div>
    </div>
    @Html.Partial("FooterBar")
</body>
</html>