@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@{
    var latestPost = @Model.Content.AncestorOrSelf(1).DescendantsOrSelf("BlogPost").OrderBy(x => x.CreateDate).LastOrDefault();
    var home = @Model.Content.AncestorOrSelf(1);
    var about = home; //change this when the about page is in place
    bool ishome = home.Url.Equals(CurrentPage.Url);
    bool islatestPost = latestPost.Url.Equals(CurrentPage.Url);
    bool isabout = false;

    var staticInfoPage = Model.Content.AncestorOrSelf(1).Children(x => x.DocumentTypeAlias.Equals("StaticInformation")).FirstOrDefault();
}

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu-collapse" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @if (staticInfoPage != null && staticInfoPage.HasValue("brandImage"))
            {
                <a href="@home.Url">
                    <img src="@Umbraco.TypedMedia(staticInfoPage.AsDynamic().brandImage).Url" class="navbar-brand" />
                </a>
            }
            else if (staticInfoPage != null && !string.IsNullOrWhiteSpace(staticInfoPage.AsDynamic().siteName))
            {
                <a class="navbar-brand" href="@home.Url">@staticInfoPage.AsDynamic().siteName</a>
            }
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="menu-collapse">
            <div class="navbar-right">
                <ul class="nav navbar-nav">
                    <li class="@if (ishome){ <text>active</text>}"><a href="@Model.Content.AncestorOrSelf(1).Url">Home</a></li>
                    @if (latestPost != null)
                    {
                        <li class="@if (islatestPost) { <text>active</text>} "><a href="@latestPost.Url">Latest Post</a></li>
                    }
                    <li class="@if (isabout) { <text>active</text>}">
                        <a href="#">About</a>
                    </li>
                </ul>
                <form class="navbar-form navbar-left" role="search">
                    <div class="input-group">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Search">
                        </div>
                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-default">Submit</button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
</nav>